<div class="about-section">
  <h1>About Us</h1>
  <p>We are Techie Tribes </p>
  <p>WE DEVELOP</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
     <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">-->
      <div class="container">
        <h2>Aman Anand</h2>
        <p class="title">Team leader</p>
        <p>DXC Technology</p>
        <p>aman@dxc.com</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <!--<img src="/w3images/team2.jpg" alt="Mike" style="width:100%">-->
      <div class="container">
        <h2>Likitha CM</h2>
        <p class="title">Team member</p>
        <p>DXC Technology</p>
        <p>likitha@dxc.com</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <!--<img src="/w3images/team3.jpg" alt="John" style="width:100%">-->
      <div class="container">
        <h2>Soumya M</h2>
        <p class="title">Team member</p>
        <p>DXC Technology</p>
        <p>soumya@dxc.com</p>

      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <!--<img src="/w3images/team3.jpg" alt="John" style="width:100%">-->
      <div class="container">
        <h2>Sahana</h2>
        <p class="title">Team member</p>
        <p>DXC Technology</p>
        <p>sahana@dxc.com</p>

      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <!--<img src="/w3images/team3.jpg" alt="John" style="width:100%">-->
      <div class="container">
        <h2>Akhilesh</h2>
        <p class="title">Team member</p>
        <p>DXC Technology</p>
        <p>akhilesh@dxc.com</p>

      </div>
    </div>
  </div>
  </div>
