<div class="container">
  <form (ngSubmit)="submitForm()">
    

<div class="form-group">
  <label for="email">Email address:</label>
  <input type="email" class="form-control" placeholder="Enter email" name="emailId" [(ngModel)]="employee.emailId" 
  required pattern= "^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
  #emailId = "ngModel"
  [class.is-invalid]="emailId.invalid && emailId.touched"
  >
 <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">email id is required field</small>-->
 <div *ngIf='emailId.errors && (emailId.invalid && emailId.touched)' >
   <small class= 'text-danger' *ngIf="emailId.errors.required">Email id is required field</small>
   <small class= 'text-danger' *ngIf="emailId.errors.pattern"> Enter valid email id</small>
 </div>
 <button type="submit" class="btn btn-info">submit</button>
</div>
</form>
</div>
