<div class ="bg">
    <div class="navbar-light bg-light" style="height: 2cm;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
          <a class="navbar-brand" href="#">Admin</a>
          <small><a class="float-right" style="color: crimson;" href="#">Logout</a></small> 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      </nav>
    </div>
    <div class="text-justify">
      <div class="row">
        <div class="column">
          <div class="card">
           <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">-->
            <div class="container">
              <h3>Update profile</h3>
              <button type="submit" class="btn btn-info">update</button>
              
              
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <!--<img src="/w3images/team2.jpg" alt="Mike" style="width:100%">-->
            <div class="container">
              <h3>Swap seats</h3>
              <button type="submit" class="btn btn-info" [routerLink]="['/location']">click</button>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <!--<img src="/w3images/team3.jpg" alt="John" style="width:100%">-->
            <div class="container">
              <h3>View bookings</h3>
              <button type="submit" class="btn btn-info" [routerLink]="['/updateemployee']">Check</button>
            </div>
            </div>
            </div>
            
        
        <div class="column">
            <div class="card">
              <!--<img src="/w3images/team2.jpg" alt="Mike" style="width:100%">-->
              <div class="container">
                <h3>Permit</h3>
                <button type="submit" class="btn btn-info" [routerLink]="['/location']">allow</button>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
      